<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="dash.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">

        <h3>VISTA SUITES DASHBOARD </h3>
        <div class="side">
        <button>ADMIN <i class="fa-solid fa-circle-user"></i> </button>
        <button>LOG_OUT <i class="fa-solid fa-right-from-bracket"></i> </button>

</div>

    </div>

<div class="main">


    <div class="sidebar">
        <ul class="sidebar-menu">

 <li>reservations</li>
 <li>room managment</li>
 <li>staff</li>
 <li>meseges</li>
 <li>payments</li>
 <li>hestory</li>
  

  

</ul>

    </div>

<div class="layers">
    <div class="resv">
        <h2 class="titel">recent reservations</h2>
        <div class="cards">
            <div class="p-6 bg-white rounded-2xl shadow-md w-64">
  <div class="text-gray-500 text-sm font-medium">Total Revenues</div>
  <div class="mt-2 text-3xl font-bold text-gray-900">$12,450</div>
  <div class="mt-4 text-green-600 text-sm font-medium">+ 12% this month</div>
</div>


<div class="p-6 bg-white rounded-2xl shadow-md w-64">
  <div class="text-gray-500 text-sm font-medium">Total conirmed</div>
  <div class="mt-2 text-3xl font-bold text-gray-900">$12,450</div>
  <div class="mt-4 text-green-600 text-sm font-medium">+ 12% this month</div>
</div>

<div class="p-6 bg-white rounded-2xl shadow-md w-64">
  <div class="text-gray-500 text-sm font-medium">Total pending</div>
  <div class="mt-2 text-3xl font-bold text-gray-900">$12,450</div>
  <div class="mt-4 text-green-600 text-sm font-medium">+ 12% this month</div>
</div>


        </div>
      

        <table class="reservations-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>check in</th>
                    <th>check out</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>john@example.com</td>
                    <td>12/12/2025 </td>
                 <td> 20/12/2025</td>

                    <td><button class="cfm">confirm</button> <button class="csl">cancel</button></td>
                </tr>
                <tr>
                    <td>Jane Smith</td>
                    <td>jane@example.com</td>
 <td>12/12/2025 </td>
                 <td> 20/12/2025</td>                    <td><button class="cfm">confirm</button> <button class="csl">cancel</button></td>
                </tr>
                <tr>
                    <td>Mike Johnson</td>
                    <td>mike@example.com</td>
 <td>12/12/2025 </td>
                 <td> 20/12/2025</td>                    <td><button class="cfm">confirm</button> <button class="csl">cancel</button></td>
                </tr>

                  <tr>
                    <td>Mike Johnson</td>
                    <td>mike@example.com</td>
 <td>12/12/2025 </td>
                 <td> 20/12/2025</td>                    <td><button class="cfm">confirm</button> <button class="csl">cancel</button></td>
                </tr>

                  <tr>
                    <td>Mike Johnson</td>
                    <td>mike@example.com</td>
 <td>12/12/2025 </td>
                 <td> 20/12/2025</td>                    <td><button class="cfm">confirm</button> <button class="csl">cancel</button></td>
                </tr>
            </tbody>
        </table>
        

    </div>




    <div class="room"></div>


</div>


</div>





    <script src="https://kit.fontawesome.com/8723d692ff.js" crossorigin="anonymous"></script>
    <script>
  tailwind.config = {
    theme: {
      extend: {
        colors: {
          primary: '#1E3A8A',
        }
      }
    }
  }
</script>

</body>
</html>