<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="dash.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">

        <h3>VISTA SUITES DASHBOARD </h3>
        <div class="side">
        <p class="adm">ADMIN  <i class="fa-solid fa-circle-user"></i> </p>
        <a href="#">logout</a>
</div>


    </div>


    <div class="sidebar"></div>







    <script src="https://kit.fontawesome.com/8723d692ff.js" crossorigin="anonymous"></script>
    
</body>
</html>